html {
    scroll-behavior: smooth;
}

body {
     background-color:floralwhite;
 }
li {
    display: inline;
}
body {

}
div {
}
#contact {
    width:400px;
    height:600px;
    border:1px solid;
    resize:both;
    overflow:auto;
    margin: 10px;
    padding: 10px;
}
.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
a:hover{
    background-color:darkseagreen;
    color:yellow;
}
.scroll {
    position: fixed;
    bottom: 30px;
    right: 30px;
}
