body {
     background-color:mediumaquamarine;
 }
li {
    display: inline;
}
body {

}
div {
}
#contact {
    width:400px;
    height:600px;
    border:1px solid;
    resize:both;
    overflow:auto;
    margin: 10px;
    padding: 10px;
}
.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}